.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(0, 0%, 100%);
    width: 375px;
    margin: 0;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    width: 375px;
    height: 2387px;
    min-width: 375px;
    max-height: 2387px;
    border: 1px solid black;
}

h1 {
    text-align: left;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.1s;
  }
  
  input:checked + label {
    background: #bada55;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }

#facebook {
    border-top: 3px solid hsl(208, 92%, 53%);
    border-radius: 5px;
    background-color: hsl(230, 22%, 74%);
    padding-top: 1px;
    margin: 10px 0 40px 0;
    width: 320px;
    height: 170px;
    text-align: center;
}

#tweeter {
    border-top: 3px solid hsl(203, 89%, 53%);
    border-radius: 5px;
    background-color: hsl(230, 22%, 74%);
    margin: 10px 0 40px 0;
    height: 170px;
    text-align: center;
}

#instagram {
    border-top: 3px solid;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%) 15%, hsl(329, 70%, 58%)) 1;
    border-radius: 5px;
    background-color: hsl(230, 22%, 74%);
    margin: 10px 0 40px 0;
    height: 170px;
    text-align: center;
}

#youtube {
    border-top: 3px solid hsl(348, 97%, 39%);
    border-radius: 5px;
    background-color: hsl(230, 22%, 74%);
    margin: 10px 0 40px 0;
    height: 170px;
    text-align: center;
}

#facebook_page_view {
    background-color: hsl(230, 22%, 74%);
    height: 130px;
    margin: 10px 0 30px 0;
    text-align: center;
}

#facebook_likes {
    background-color: hsl(230, 22%, 74%);
    height: 130px;
    margin: 10px 0 30px 0;
    text-align: center;
}

#instagram_likes {
    background-color: hsl(230, 22%, 74%);
    height: 130px;
    margin: 10px 0 30px 0;
    text-align: center;
}

#instagram_profil_view {
    background-color: hsl(230, 22%, 74%);
    height: 130px;
    margin: 10px 0 30px 0;
    text-align: center;
}

#tweeter_retweets {
    background-color: hsl(230, 22%, 74%);
    height: 130px;
    margin: 10px 0 30px 0;
    text-align: center;
}

#tweeter_likes {
    background-color: hsl(230, 22%, 74%);
    height: 130px;
    margin: 10px 0 30px 0;
    text-align: center;
}

#youtube_likes {
    background-color: hsl(230, 22%, 74%);
    height: 130px;
    margin: 10px 0 30px 0;
    text-align: center;

}

#youtube_total_views {
    background-color: hsl(230, 22%, 74%);
    height: 130px;
    margin: 10px 0 30px 0;
    text-align: center;
}