.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    min-width: 375px;
    max-height: 2387px;
}


#facebook {
    background-color: hsl(208, 92%, 53%);
    padding-top: 1px;
}

#div-facebook {
    background-color: hsl(230, 22%, 74%);
}

#tweeter {
    background-color: hsl(203, 89%, 53%);
}

#div-tweeter {
    background-color: hsl(230, 22%, 74%);
}

#instagram {
    background: linear-gradient(to right, hsl(37, 97%, 70%) 15%, hsl(329, 70%, 58%));
}

#div-instagram {
    background-color: hsl(230, 22%, 74%);
}

#youtube {
    background-color: hsl(348, 97%, 39%);
}

#div-youtube {
    background-color: hsl(230, 22%, 74%);
}